version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./environments/db.env
    command: dockerize -wait tcp://db:3306 -timeout 20s bundle exec rails s -p 3000 -b '0.0.0.0'
    tty: true
    stdin_open: true
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - .:/small_task:cached
      - tmp-data:/small_task/tmp/sockets
      - public-data:/small_task/public
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    env_file:
      - ./environments/db.env
    ports:
      - '4306:3306'
    volumes:
      - db-data:/var/lib/mysql

  nginx:
    build: containers/nginx
    ports:
      - "80:80"
    restart: always
    volumes:
      - tmp-data:/small_task/tmp/sockets
      - public-data:/small_task/public
    depends_on:
      - app

volumes:
  public-data:
  tmp-data:
  db-data:
