version: 2.1
jobs:
  rubocop:
    docker:
      - image: circleci/ruby:2.7.3-node-browsers-legacy
        environment:
          BUNDLER_VERSION: 2.1.4
          RAILS_ENV: test
      - image: circleci/mysql
        environment:
          MYSQL_USER: root
          MYSQL_ROOT_HOST: db
    working_directory: ~/small_task
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: yarn install
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      - run:
          name: Rubocop
          command: bundle exec rubocop

  rspec:
    docker:
      - image: circleci/ruby:2.6.0-node-browsers-legacy
        environment:
          BUNDLER_VERSION: 2.1.4
          RAILS_ENV: test
      - image: circleci/mysql
        environment:
          MYSQL_USER: root
          MYSQL_ROOT_HOST: db
    working_directory: ~/small_task
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: yarn install
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load
      - run:
          name: Rspec
          command: bundle exec rspec

workflows:
  version: 2.1
  rubocop_rspec:
    jobs:
      - rubocop
      - rspec:
          requires:
            - rubocop
