<% provide(:title, "Home") %>
<div class="main-back-img">
  <div class="container home-container">
    <div class="main-textbox">
      <h1>Small Task</h1>
      <p class="text-detail">(スモール タスク)</p>
      <div class="main-textbox-detail">
        <p>小さな課題を</p>
        <p>見つけよう</p>
      </div>
      <%= link_to "ログイン", login_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-content">
    <div class="text-detail">"Small Task"<span>とは？</span></div>
    <p>この「Small Task」は、<br>小さなことでも達成したことを記録できる<br>タスク管理サイトです。</p>
  </div>
</div>
