<% provide(:title, "Home") %>
<div class="main-back-img">
  <div class="container">
    <div class="main-textbox">
      <h1>Small Task</h1>
      <p class="text-detail">(スモール タスク)</p>
      <div class="main-textbox-detail">
        <p>小さな課題を</p>
        <p>達成しよう</p>
      </div>
      <%= link_to "新規登録", new_user_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-content">
    <div class="text-detail">"Small Task"<span>とは？</span></div>
    <p>誰にでも達成したことを誰かに話したり、<br>誰かと共有したいと思ったことはあると思います。<br>
    この「Small Task」はそういった方に向け、<br>小さなことでも達成したことを記録でき、<br>それを共有できる場所として作成されました。</p>
  </div>
</div>
