<% provide(:title, "Home") %>
<div class="main-back-img">
  <div class="container">
    <div class="main-textbox">
      <h1>Small Task</h1>
      <p class="text-detail">(スモール タスク)</p>
      <div class="main-textbox-detail">
        <p>小さな課題を</p>
        <p>見つけよう</p>
      </div>
      <button type="button" class="btn btn-success">新規登録</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-content">
    <div class="main-content-box">
      <div class="text-detail">"Small Task"<span>とは？</span></div>
      <p></p>
    </div>
  </div>
</div>
