<!-- FOOTER -->
<!-- COPY RIGHT -->
<div id="footer" class="footer copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="footer-logo">
        <img src="/logo.png">
      </div>
    </div>
  </div>
</div>
