<!-- HEADER -->
<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-box">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="topBar-box">
          <div class="topBer-left">
            <%= image_tag "/logo.png" %>
          </div>
          <div class="topBer-right">
            <ul class="topBer-right-menu">
              <li>
                <a class="topBer-nav-link">ホーム</a>
              </li>
              <li>
                <a class="topBer-nav-link">ログイン</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
