/*=== HEADER ===*/

.header {
  width: 100%;
  background-color: #F8F9FA !important;
}

/*=== TOPBER ===*/

.topBar {
  width: 100%;
  display: block;
  min-height: 35px;
}

.topBar-box{
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.topBer-left{
  width: 30%;
  padding: 5px;

}

.topBer-left img{
  height: 25px;
}

.nav-item{
  margin-right: 15px;
}

.nav-item i{
  width: 20px;
}

.topBer-nav-link{
  color: #222;
}

.topBer-nav-link i{
  margin-right: 10px;
}

.navbar-toggler{
  display: none;
}

#navbarToggleDemo01{
  display: none;
}

#navbarToggleDemo01.close{
  display: block
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: block;
  }

  .nav-item{
    margin-top: 10px;
  }

  .topBer-nav-link>i{
    display: none;
  }
}

.alert-danger{
  margin-bottom: 0;
}

.main-content-space{
  padding-bottom: 50px;
}
