/*=== HEADER ===*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 999;
}

/*=== TOPBER ===*/

.topBar {
  background-color: #F8F9FA !important;
  width: 100%;
  height: 50px;
  display: block;
  min-height: 35px;
}

.topBar-box{
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.topBer-left{
  width: 30%;
}

.topBer-left img{
  height: 25px;
}

.nav-item{
  margin-right: 15px;
}

.topBer-nav-link{
  color: #222;
}

.topBer-nav-link i{
  margin-right: 10px;
}

.navbar-toggler{
  display: none;
}

#navbarToggleDemo01{
  display: none;
}

#navbarToggleDemo01.close{
  display: block
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: block;
  }

  .nav-item{
    margin-top: 10px;
  }

  .topBer-nav-link>i{
    display: none;
  }
}

/*=== FOOTER ===*/

.footer{
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #F8F9FA;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

.footer-logo{
  width: 100%;
  text-align: center;
}

.footer-logo img{
  height: 25px;
}
