/*=== SHOW ===*/

.show-task-label{
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.show-task-user{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.profile-task-user{
  font-size: 20px;
  margin-bottom: 40px;
}

.show-task-content{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.show-task-text{
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.show-task-picture{
  margin-bottom: 80px !important;
}

.show-task-picture img{
  width: 100%;
}

/*=== EDIT ===*/

.form-group-edit{
  margin: 0 auto 15px;
  text-align: center;
  width: 80%;
}

.checkbox-edit{
  margin-bottom: 50px;
}

.form-group-edit.text-edit textarea{
  height: 150px;
  margin-bottom: 30px;
}

.form-group.edit-picture{
  margin-bottom: 50px;
}

.form-group.edit-button{
  width: 100% !important;
}

.button-margin-bottom{
  margin-bottom: 20px;
}

.button-margin-left{
  margin-left: 10px;
}

.button-margin-right{
  margin-right: 10px;
}

.form-group.edit-button>.btn{
  font-size: 20px;
  max-width: 175px;
}

@media (max-width: 768px) {
  .edit-picture>input{
    font-size: 10px !important;
  }
  .button-margin-right{
    margin-right: 5px;
  }

  .button-margin-left{
    margin-left: 5px;
  }
  .form-group.edit-button>.btn{
    font-size: 12px;
  }
}

/*=== SHOW(PROFILE) ===*/

.form-group-image{
  padding: 40px 40px 30px;
}

.form-group-image>img{
  height: 100px;
  border-radius: 50%;
}

.form-image-label{
  font-size: 12px;
  padding: 10px;
}

@media (max-width: 768px) {
  .profile-button>a{
    font-size: 12px !important;
  }

  .form-group-image{
    padding: 20px 0 15px;
  }

  .form-group-image>img{
    height: 80px;
  }

  .form-image-label{
    font-size: 10px !important;
    padding: 0;
  }
}
