/*=== SHOW ===*/

.show-task-label{
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.show-task-user{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.show-task-content{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.show-task-text{
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.show-task-picture{
  margin-top: 50px;
}

/*=== EDIT ===*/

.form-group-edit{
  margin: 0 auto 15px;
  text-align: center;
  width: 80%;
}

.form-group-edit.text-edit textarea{
  height: 150px;
  margin-bottom: 30px;
}

.form-group.edit-picture{
  margin-bottom: 50px;
}

.form-group.edit-button{
  width: 100% !important;
}

.button-margin-bottom{
  margin-bottom: 20px;
}

.button-margin-left{
  margin-left: 30px;
}

.button-margin-right{
  margin-right: 30px;
}

.form-group.edit-button>.btn{
  font-size: 20px;
}


