/*=== INDEX ===*/

.main-back-img{
  width: 100%;
  height: 600px;
  background-image: image-url("task.jpg");
  background-size: cover;
  background-position: center;
  background-color :rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  padding: 70px 0;
}

.main-textbox{
  width: 50%;
  height: 400px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border-radius: 10px;
  min-width: 400px;
  padding: 30px;
  text-align: center;
}

.main-textbox h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.main-textbox p{
  text-align: center;
}

.main-textbox>.btn{
  font-size: 25px;
  width: 70%;
  max-width: 250px;
  margin-top: 20px;
}

.btn.btn-success{
  background-color: #2DA54E;
}

.main-textbox-detail p{
  font-size: 30px;
  font-weight: 500;
}

.text-detail{
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 479px) {
  .main-textbox{
    width: 70%;
    height: 300px;
    margin: 100px auto 0;
    min-width: 200px;
    padding: 10px;
    text-align: center;
  }

  .main-textbox h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
  }

  .main-textbox p{
    font-size: 16px;
    text-align: center;
  }

  .main-textbox>.btn{
    font-size: 16px;
    width: 70%;
    margin-top: 5px;
  }

  .main-textbox-detail p{
    font-size: 25px;
    font-weight: 500;
  }

  .text-detail{
    border-bottom: 1px solid #222;
    margin-bottom: 15px;
    text-align: center;
  }
}

.main-content{
  width: 80%;
  height: auto;
  padding: 50px;
  margin: 50px auto;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.main-content p{
  font-size: 22px;
  line-height: 2em;
  text-align: center;
}

.main-content>.text-detail{
  font-size: 50px;
}

.text-detail>span{
 font-size: 30px;
}

@media (max-width: 770px) {
  .main-content{
    width: 80%;
    padding: 10px;
  }

  .main-content p{
    font-size: 20px;
    text-align: center;
  }

  .main-content>.text-detail{
    font-size: 40px;
  }

  .text-detail>span{
   font-size: 18px;
  }
}


@media (max-width: 479px) {
  .main-content{
    width: 80%;
    padding: 10px;
  }

  .main-content p{
    font-size: 12px;
    text-align: center;
  }

  .main-content>.text-detail{
    font-size: 30px;
  }

  .text-detail>span{
   font-size: 20px;
  }
}

/*=== SIGNUP / LOGIN ===*/

.new-container{
  width: 100%;
  min-height: 700px;
}

.container-padding{
  padding: 50px;
}

.sessionBox{
  max-width: 600px;
  margin: 50px auto;
  padding: 35px;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border-radius: 10px;
}

.sessionBox-test{
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border-radius: 10px;
  text-align: center;
}

.testuser-title{
  font-size: 16px;
}

.testuser{
  margin-bottom: 5px;
}

.signup-logo-img {
  text-align: center;
}

.signup-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #029903;
  margin-bottom: 2rem;
}

.form-group{
  margin: 0 auto 15px;
  text-align: center;
  width: 50%;
}

.form-group>.btn{
  width: 80%;
  align-items: center;
}

.form-control {
  margin-bottom: 0;
}

.form-submit {
  width: 100%;
  margin-top: 1rem;
}

.field_with_errors .form-control {
  border-color: red;
}

.alert-form-extend {
  margin: 1.5rem 0 1rem;
}

.form-go-to-signup-or-login{
  text-align: center;
  margin-bottom: 5px;
}

.form-go-to-password-reset{
  text-align: center;
}

@media (max-width: 500px) {

  .signup-title{
    font-size: 20px;
  }

  .form-group>input{
    font-size: 12px;
  }

  .form-check-label{
    font-size: 12px;
  }

  .form-group>.btn{
    font-size: 12px;
    padding: 5px;
  }

  .sessionBox-test>.btn{
    font-size: 12px;
    padding: 5px;
  }

  .form-go-to-signup-or-login{
    font-size: 12px;
  }

  .form-go-to-password-reset{
    font-size: 12px;
  }

  .testuser-title{
    font-size: 12px;
  }
}

/*=== EDIT ===*/

.edit-title{
  text-align: center;
  margin: 50px 0;
}

.form-title-edit{
  font-size: 30px;
  font-weight: 500;
  color: #029903;
}

.card-deck{
  margin: 0 auto 100px;
  max-width: 600px;
}

.card-header{
  text-align: center;
}

.col-md-6{
  width: 80% !important;
  margin: 0 auto;
}

.card-body{
 padding: 50px !important;
}

.card-body>.form-group{
  width: 70%;
  margin-bottom: 20px;
}

.form-group-label{
  margin-bottom: 5px;
}

.card-body>.form-group:last-child{
  margin-top: 40px;
}

@media (max-width: 500px) {
  .form-title-edit{
    font-size: 20px;
  }

  .form-group-label{
    font-size: 12px;
  }

  .card-header{
    font-size: 20px;
  }

  .card-body>.form-group{
    margin-bottom: 10px;
  }

  .card-body>.form-group:last-child{
    margin-top: 30px;
    margin-bottom: 0;
  }
}

/*=== SHOW ===*/

.show-up-container{
  display: flex;
  justify-content: center;
  margin: 30px auto 50px;
}

.user-box{
  width: 70%;
  max-width: 70%;
  margin-right: 20px;
  padding: 20px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
}

.user-box-up{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.user-box-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.user-box-image{
  margin-right: 10px;
}

.user-box-image>img{
  height: 70px;
  border-radius: 50%;
}

.fa-none{
  display: none;
}

.user-box-name>p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.user-box-right{
  width: 50%;
  padding: 10px;
}

.user-box-task-count{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-box-task-count>p{
  font-size: 40px;
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.user-box-task-text{
  text-align: center;
}

.task-container h5{
  margin-bottom: 0;
  margin-top: 10px;
}

.task-container .br{
    display: none;
  }

.task-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.task-box p{
  margin-bottom: 0;
}

.task-content{
  width: 100%;
  margin-right: 10px;
  padding: 10px;
}

.show-right{
  width: 30%;
}

.show-post-container{
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.show-post-container h1{
  font-size: 25px;
  margin-bottom: 20px;
}

.form-group-post{
  width: 80%;
}

.form-group-picture{
  font-size: 12px;
}

.form-group-post>textarea{
  height: 70px;
}

.form-group-post>.btn{
  width: 50%;
  margin-top: 0;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .show-up-container{
    display: block;
  }

  .show-right{
    width: 70%;
    margin: 0 auto;
  }

  .user-box{
    margin: 0 auto 30px;
  }
}

.user-logs-box{
  padding: 30px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-log-title{
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.user-posts{
  padding: 0;
}

.user-posts li{
  margin: 15px;
  min-height: 30px;
}

.log-list{
  text-align: center;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.log-timestamp{
  font-size: 12px;
}

.row.log-time-row{
  margin: 0 auto;
}

.log-picture{
  margin-top: 5px;
  margin-bottom: 5px;
}

.col-log-memos{
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.pagination-box{
  margin: 80px auto 50px;
  text-align: center;
}

.pagination{
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .user-box-left{
    display: block;
    text-align: center;
  }

  .user-box-image>img{
    height: 50px;
  }

  .user-box-name>p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
  }

  .user-log-title{
    text-align: center;
  }

  .col-log-memos{
    border-left: 0px none;
  }

  .fa-2x{
    display: none;
  }

  .fa-none{
    display: block;
  }

  .user-box-task-count>p{
    font-size: 20px;
    margin-left: 3px;
  }

  .user-box-task-text>p{
    font-size: 12px;
  }

  .task-container h5{
    text-align: center;
    font-size: 16px;
  }

  .task-container .br{
    display: block;
  }

  .show-right h1{
    text-align: center;
    font-size: 20px;
  }

  .form-group-picture input{
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .form-group-picture input{
    display: none;
  }
}

.pagination li{
  width: 15%;
  max-width: 50px;
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #2CA64E;
  border-radius: 5px;
}

.pagination>.active{
  background-color: #DADADA;
}

.pagination a{
  color: #fff;
}

.page.gap{
  display: none;
}

.pagination .next{
  display: none;
}

.pagination .last{
  display: none;
}

.pagination .first{
  display: none;
}

.pagination .prev{
  display: none;
}
