/*=== INDEX ===*/

.main-back-img{
  width: 100%;
  height: 600px;
  background-image: image-url("task.jpg");
  background-size: cover;
  background-position: center;
  background-color :rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  padding: 70px 0;
}

.main-textbox{
  width: 50%;
  height: 400px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border-radius: 10px;
  min-width: 400px;
  padding: 30px;
  text-align: center;
}

.main-textbox h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.main-textbox p{
  text-align: center;
}

.main-textbox>.btn{
  font-size: 25px;
  width: 70%;
  margin-top: 20px;
}

.btn.btn-success{
  background-color: #2DA54E;
}

.main-textbox-detail p{
  font-size: 30px;
  font-weight: 500;
}

.text-detail{
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 479px) {
  .main-textbox{
    width: 70%;
    height: 300px;
    margin: 100px auto 0;
    min-width: 200px;
    padding: 10px;
    text-align: center;
  }

  .main-textbox h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
  }

  .main-textbox p{
    font-size: 16px;
    text-align: center;
  }

  .main-textbox>.btn{
    font-size: 16px;
    width: 70%;
    margin-top: 5px;
  }

  .main-textbox-detail p{
    font-size: 25px;
    font-weight: 500;
  }

  .text-detail{
    border-bottom: 1px solid #222;
    margin-bottom: 30px;
    text-align: center;
  }
}

.main-content{
  width: 80%;
  height: auto;
  padding: 50px;
  margin: 50px auto;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.main-content p{
  font-size: 22px;
  line-height: 2em;
  text-align: center;
}

.main-content>.text-detail{
  font-size: 50px;
}

.text-detail>span{
 font-size: 30px;
}

@media (max-width: 770px) {
  .main-content{
    width: 80%;
    padding: 10px;
  }

  .main-content p{
    font-size: 20px;
    text-align: center;
  }

  .main-content>.text-detail{
    font-size: 40px;
  }

  .text-detail>span{
   font-size: 18px;
  }
}


@media (max-width: 479px) {
  .main-content{
    width: 80%;
    padding: 10px;
  }

  .main-content p{
    font-size: 12px;
    text-align: center;
  }

  .main-content>.text-detail{
    font-size: 30px;
  }

  .text-detail>span{
   font-size: 20px;
  }
}

/*=== SIGNUP / LOGIN ===*/

.new-container{
  width: 100%;
  min-height: 700px;
}

.container-padding{
  padding: 50px;
}

.sessionBox{
  max-width: 600px;
  margin: 50px auto;
  padding: 35px;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border-radius: 10px;
}

.sessionBox-test{
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border-radius: 10px;
  text-align: center;
}

.testuser-title{
  font-size: 16px;
}

.testuser{
  margin-bottom: 5px;
}

.signup-logo-img {
  text-align: center;
}

.signup-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #029903;
  margin-bottom: 2rem;
}

.form-group{
  margin: 0 auto 15px;
  text-align: center;
  width: 50%;
}

.form-group>.btn{
  width: 80%;
  align-items: center;
}

.form-control {
  margin-bottom: 0;
}

.form-submit {
  width: 100%;
  margin-top: 1rem;
}

.field_with_errors .form-control {
  border-color: red;
}

.alert-form-extend {
  margin: 1.5rem 0 1rem;
}

.form-go-to-signup-or-login{
  text-align: center;
  margin-bottom: 5px;
}

.form-go-to-password-reset{
  text-align: center;
}

@media (max-width: 500px) {

  .signup-title{
    font-size: 20px;
  }

  .form-group>input{
    font-size: 12px;
  }

  .form-check-label{
    font-size: 12px;
  }

  .form-group>.btn{
    font-size: 12px;
    padding: 5px;
  }

  .sessionBox-test>.btn{
    font-size: 12px;
    padding: 5px;
  }

  .form-go-to-signup-or-login{
    font-size: 12px;
  }

  .form-go-to-password-reset{
    font-size: 12px;
  }

  .testuser-title{
    font-size: 12px;
  }
}

/*=== EDIT ===*/

.edit-title{
  text-align: center;
  margin: 50px 0;
}

.form-title-edit{
  font-size: 30px;
  font-weight: 500;
  color: #029903;
}
.card-deck{
  margin-bottom: 100px;
}

.card-header{
  text-align: center;
}

.col-md-6{
  width: 80% !important;
  margin: 0 auto;
}

.card-body{
 padding: 50px !important;
}

.card-body>.form-group{
  width: 70%;
  margin-bottom: 20px;
}

.form-group-label{
  margin-bottom: 5px;
}

.card-body>.form-group:last-child{
  margin-top: 40px;
}

@media (max-width: 500px) {
  .form-title-edit{
    font-size: 20px;
  }

  .form-group-label{
    font-size: 12px;
  }

  .card-header{
    font-size: 20px;
  }

  .card-body>.form-group{
    margin-bottom: 10px;
  }

  .card-body>.form-group:last-child{
    margin-top: 30px;
    margin-bottom: 0;
  }
}
